spring:
  datasource:
    url: jdbc:mysql://uorders-database-free.cigdnmxkdvki.ap-northeast-2.rds.amazonaws.com:3306/uorders?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: rKVflNQ7i8Z7ydIVKIRO
#    url: jdbc:mysql://127.0.0.1:3306/uoders?serverTimezone=UTC&characterEncoding=UTF-8
#    username: root
#    password: Youngseo9
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: none
    properties:
      hibernate.enable_lazy_load_no_trans: true

    #url: jdbc:h2:tcp://localhost/~/uorders
    #username: sa
    #password:
    #driver-class-name: org.h2.Driver

  #jpa:
  #  hibernate:
  #    ddl-auto: create
  #  properties:
  #    hibernate:
  #      show_sql: true
  #    format_sql : true
  #  database: mysql


logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace